body{
  background: pink;
}

.wrapper{
  width: 50%;
  margin: 0 auto;
}
.square-size{
  width: 50px;
  height: 50px;
  margin: 15px auto;
  transition: transform 3s;
}

.wrapper:hover div:nth-child(even) {
  transform: scale(2) rotate(1080deg) translateX(100px);
}

.wrapper:hover div:nth-child(odd) {
  transform: scale(0.5) rotate(-1080deg) translateX(-100px);
}

.square1{
  background: #0000FF;
}
.square2{
  background: #8A2BE2;
}
.square3{
  background: #A52A2A;
}
.square4{
  background: #DEB887	;
}
.square5{
  background: #5F9EA0;
}
.square6{
  background: #7FFF00;
}
.square7{
  background: #D2691E;
}
.square8{
  background: #FF7F50;
}
.square9{
  background: #6495ED;
}
.square10{
  background: #FFF8DC;
}
.square11{
  background: #DC143C;
}
.square12{
  background: #00FFFF;
}
